.formTitle {
    margin: 2.5em auto;
    width: fit-content;
}

.formContainer {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--card-bg-color);
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

@media (max-width: 768px) {
    .formContainer {
        max-width: 400px;
    }

}


.removeBtn {
    width: 2em;
    height: 2em;
    position: absolute;
    top: .5em;
    right: .75em;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ebedf0;
    background-color: #d84848;
    cursor: pointer;

}

.removeBtn:disabled {
    opacity: .3;
}

