.mainLayout {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 0;
}

.mainWrapper {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25em;
    overflow-y: auto;
}

.main {
    padding: 0 1.25em;
}

.footer {
    width: 100%;
    padding: 1em 0.75em;
    background-color: transparent;
    text-align: center;
    font-size: 1em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    opacity: .7;
}