
.form {
    width: 100%;
    padding: 1.25em .75em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1em;
}

.formControl {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: .5em;
    label {
        color: var(--text-color);
        font-size: 1.25em;
    }
    select, textarea {
        padding: .5em;
        color: var(--text-color);
        background-color: var(--main-bg-color);
        font-size: 1em;
        border: 5px;
        border: none;
        outline: none;
    }
    select:focus-visible, textarea:focus-visible {
        outline: 2px solid var(--green-color);
    }
}

.clearFormControl {
    display: flex;
    justify-content: flex-start;

    align-items:center;
    gap: 0.5em;
    span {
        font-size: 1em;
        padding-bottom: 0.25em;
    }
}

.checkbox {
    width: 18px;
    height: 18px;
    accent-color: var(--green-color);
}

.checkbox:disabled + span {
    opacity: .5;
}