:root {
    --main-bg-color: #23272f;
    --text-color: #e0e0e0;
    --btn-text-color: #e0e0e0;
    --btn-bg-color: #393b3f;
    --card-bg-color: #343a46;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 768px) {
    :root {
        font-size: 12px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    color: inherit;
}

body {
    color: var(--text-color);
    background-color: var(--main-bg-color);
}

.error {
    font-size: 2em;
    color: #57c4dc;
    background-color: #16444f;
    padding: 1em .75em;
    border-radius: .5em;
    border: 1px solid #57c4dc;
    overflow: hidden;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #e0e0e0;
        --text-color: #23272f;
        --btn-text-color: #16444f;
        --btn-bg-color: #57c4dc;
        --card-bg-color: #ebedf0;

    }
}


@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #23272f;
        --text-color: #e0e0e0;
        --btn-text-color: #e0e0e0;
        --btn-bg-color: #393b3f;
        --card-bg-color: #343a46

    }
}
